body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 318px;
}

.matching-ingredients-list {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 286px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.matching-ingredients-list li {
  padding: 0.5rem;
}

.active,
.matching-ingredients-list li:hover {
  background-color: #797b7c;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.matching-ingredients-list li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

